/*!******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/admin.scss ***!
  \******************************************************************************************************************************************************************************************************************/
.wp-block-post-content {
  /*images*/
  /*images*/ }
  .wp-block-post-content :root {
    --color-primary: #000;
    --color-text: #fff;
    --color-grey: #b8bec8;
    --color-grey-dark: #18181a;
    --font-light: "EpilogueLight", sans-serif;
    --font-regular: "EpilogueRegular", sans-serif;
    --font-medium: "EpilogueMedium", sans-serif; }
  .wp-block-post-content * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; }
  .wp-block-post-content :before, .wp-block-post-content :after {
    box-sizing: border-box; }
  .wp-block-post-content a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all .3s; }
  .wp-block-post-content input, .wp-block-post-content textarea {
    outline: none; }
    .wp-block-post-content input:focus, .wp-block-post-content textarea:focus {
      outline: none; }
    .wp-block-post-content input:-webkit-autofill, .wp-block-post-content input:-webkit-autofill:hover, .wp-block-post-content input:-webkit-autofill:focus, .wp-block-post-content textarea:-webkit-autofill, .wp-block-post-content textarea:-webkit-autofill:hover, .wp-block-post-content textarea:-webkit-autofill:focus {
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
      color: #fff; }
  .wp-block-post-content img, .wp-block-post-content svg, .wp-block-post-content video {
    max-width: 100%;
    height: auto; }
  .wp-block-post-content input[type=button], .wp-block-post-content input[type=submit], .wp-block-post-content input[type=reset], .wp-block-post-content button {
    cursor: pointer; }
  .wp-block-post-content picture {
    display: block; }
  .wp-block-post-content iframe {
    max-width: 100%; }
  .wp-block-post-content input, .wp-block-post-content select, .wp-block-post-content textarea, .wp-block-post-content button {
    font-family: 'Roboto', 'Arial', sans-serif; }
  .wp-block-post-content textarea:focus-visible {
    outline: 0; }
  .wp-block-post-content html {
    font-size: 1.111vw; }
    @media only screen and (max-width: 375px) {
      .wp-block-post-content html {
        font-size: 16px; } }
  .wp-block-post-content body {
    color: var(--color-text);
    font-family: var(--font-light);
    line-height: 1.5rem;
    background-color: var(--color-primary); }
    .wp-block-post-content body.overflow-hidden {
      overflow: hidden; }
  .wp-block-post-content .container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 85rem;
    width: 100%; }
  .wp-block-post-content h2,
  .wp-block-post-content .h2-title {
    margin-bottom: 2.5rem;
    font-size: 4rem;
    font-weight: 300;
    line-height: 4.5rem; }
    @media only screen and (max-width: 375px) {
      .wp-block-post-content h2,
      .wp-block-post-content .h2-title {
        font-size: 2rem;
        line-height: 2.5rem; } }
  .wp-block-post-content .h2-title_small-indent {
    margin-bottom: 2rem; }
  .wp-block-post-content h3, .wp-block-post-content .h3-title {
    margin-bottom: 3.5rem;
    font-size: 2.5rem;
    font-family: var(--font-regular);
    font-weight: 400;
    line-height: 3rem; }
  .wp-block-post-content h4, .wp-block-post-content .h4-title {
    margin-bottom: 3.5rem;
    font-size: 1.5rem;
    font-family: var(--font-regular);
    font-weight: 400;
    line-height: 2.25rem; }
  .wp-block-post-content .text-center {
    text-align: center; }

@font-face {
  .wp-block-post-content {
    font-family: "EpilogueLight";
    src: url(../.././assets/fonts/Epilogue-Light.ttf) format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap; } }

@font-face {
  .wp-block-post-content {
    font-family: "EpilogueRegular";
    src: url(../.././assets/fonts/Epilogue-Regular.ttf) format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap; } }

@font-face {
  .wp-block-post-content {
    font-family: "EpilogueMedium";
    src: url(../.././assets/fonts/Epilogue-Medium.ttf) format("ttf");
    font-weight: 300;
    font-style: normal;
    font-display: swap; } }
  .wp-block-post-content .hero {
    padding: 10.5rem 0 5.5rem; }
    .wp-block-post-content .hero__text {
      opacity: 0; }
      .wp-block-post-content .hero__text span {
        display: inline-block;
        transform: translateY(50%);
        opacity: 0; }
    .wp-block-post-content .hero__heading {
      max-width: 65.625rem; }
    .wp-block-post-content .hero__description {
      margin-left: auto;
      max-width: 26rem;
      color: var(--color-grey);
      font-weight: 300; }
      @media only screen and (min-width: 376px) {
        .wp-block-post-content .hero__description {
          padding-right: 5.125rem; } }
      @media only screen and (max-width: 375px) {
        .wp-block-post-content .hero__description {
          max-width: 14.4375rem; } }
  .wp-block-post-content .blog {
    color: green; }

.wp-block {
  max-width: 1440px;
  margin-top: 28px;
  margin-bottom: 28px; }

.acf-block-component .acf-block-fields,
.acf-block-component .components-placeholder {
  padding-top: 40px !important; }

.wp-block.acf-block-component:not(.acf-block-preview)::before {
  position: absolute;
  top: 8px;
  left: 20px;
  z-index: 9;
  content: attr(data-title); }


/*# sourceMappingURL=admin.css.map*/