/*!******************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./node_modules/postcss-loader/dist/cjs.js!./src/styles/admin.scss ***!
  \******************************************************************************************************************************************************************************************************************/
.wp-block-post-content {
  /*images*/
  /*images*/ }
  .wp-block-post-content :root {
    --color-primary: #000;
    --color-text: #fff;
    --color-grey: #b8bec8; }
  .wp-block-post-content * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box; }
  .wp-block-post-content :before, .wp-block-post-content :after {
    box-sizing: border-box; }
  .wp-block-post-content a {
    color: var(--color-primary);
    text-decoration: none;
    transition: all .3s; }
  .wp-block-post-content input, .wp-block-post-content textarea {
    outline: none; }
    .wp-block-post-content input:focus, .wp-block-post-content textarea:focus {
      outline: none; }
    .wp-block-post-content input:-webkit-autofill, .wp-block-post-content input:-webkit-autofill:hover, .wp-block-post-content input:-webkit-autofill:focus, .wp-block-post-content textarea:-webkit-autofill, .wp-block-post-content textarea:-webkit-autofill:hover, .wp-block-post-content textarea:-webkit-autofill:focus {
      -webkit-text-fill-color: #fff;
      -webkit-box-shadow: 0 0 0 1000px transparent inset;
      -webkit-transition: background-color 5000s ease-in-out 0s;
      transition: background-color 5000s ease-in-out 0s;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
      color: #fff; }
  .wp-block-post-content img, .wp-block-post-content svg, .wp-block-post-content video {
    max-width: 100%;
    height: auto; }
  .wp-block-post-content input[type=button], .wp-block-post-content input[type=submit], .wp-block-post-content input[type=reset], .wp-block-post-content button {
    cursor: pointer; }
  .wp-block-post-content picture {
    display: block; }
  .wp-block-post-content iframe {
    max-width: 100%; }
  .wp-block-post-content input, .wp-block-post-content select, .wp-block-post-content textarea, .wp-block-post-content button {
    font-family: 'Roboto', 'Arial', sans-serif; }
  .wp-block-post-content textarea:focus-visible {
    outline: 0; }
  .wp-block-post-content html {
    font-size: 16px; }
  .wp-block-post-content body {
    color: var(--color-text);
    line-height: 1.5rem;
    background-color: var(--color-primary); }
    .wp-block-post-content body.overflow-hidden {
      overflow: hidden; }
  .wp-block-post-content .container {
    margin: 0 auto;
    max-width: 82rem;
    width: 100%; }
  .wp-block-post-content h2,
  .wp-block-post-content .h2-title {
    margin-bottom: 2.5rem;
    font-size: 4rem;
    line-height: 4.5rem; }
  .wp-block-post-content .h2-title_small-indent {
    margin-bottom: 2rem; }

@font-face {
  .wp-block-post-content {
    font-family: "Roboto";
    src: url(../.././assets/fonts/RobotoBold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap; } }
  .wp-block-post-content .hero {
    padding: 10.5rem 0 5.5rem; }
    .wp-block-post-content .hero__text span {
      display: inline-block;
      transform: translateY(50%);
      opacity: 0; }
    .wp-block-post-content .hero__description {
      margin-left: auto;
      max-width: 26rem;
      color: var(--color-grey); }
  .wp-block-post-content .blog {
    color: green; }

.wp-block {
  max-width: 1440px;
  margin-top: 28px;
  margin-bottom: 28px; }

.acf-block-component .acf-block-fields,
.acf-block-component .components-placeholder {
  padding-top: 40px !important; }

.wp-block.acf-block-component:not(.acf-block-preview)::before {
  position: absolute;
  top: 8px;
  left: 20px;
  z-index: 9;
  content: attr(data-title); }


/*# sourceMappingURL=admin.css.map*/