html {
  font-size: 16px;

  @include min-tablet {
    font-size: 1.3vw;
  }
  @include min-laptop {
    font-size: 0.833vw;
  }
}

body {
  // background-color: #000;

  &.overflow-hidden {
    overflow: hidden;
  }
}
