html {
  font-size: $fontSizeLg;

  @include max-small {
    font-size: $fontSizeBase;
  }
}

body {
  color: $textColor;
  font-family: $lightFont;
  line-height: r(24);
  background-color: $primaryColor;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 r(24);
  max-width: r(1360);
  width: 100%;
}

h2,
.h2-title {
  margin-bottom: r(40);
  font-size: r(64);
  font-weight: 300;
  line-height: r(72);

  @include max-small {
    font-size: r(32);
    line-height: r(40);
  }
}

.h2-title {
  &_small-indent {
    margin-bottom: r(32);
  }
}

h3, .h4-title {
  margin-bottom: r(4);
  color: $greyColor;
  font-size: r(12);
  font-weight: 300;
  line-height: r(20);
}

h4, .h4-title {
  font-size: r(24);
  font-family: $regularFont;
  font-weight: 400;
  line-height: r(36);
}
