// * {
//   cursor: none;
// }

html {
  font-size: $fontSizeLg;

  @include max-small {
    font-size: $fontSizeBase;
  }
}

body {
  color: $textColor;
  font-family: $mainFont;
  font-weight: 300;
  line-height: r(24);
  background-color: $primaryColor;

  &.overflow-hidden {
    overflow: hidden;
  }
}

.container {
  margin: 0 auto;
  padding: 0 r(24);
  max-width: r(1360);
  width: 100%;

  &_small {
    max-width: r(1136);
  }
}

h2,
.h2-title {
  margin-bottom: r(40);
  font-size: r(64);
  font-weight: 300;
  line-height: r(72);

  @include max-small {
    font-size: r(32);
    line-height: r(40);
  }
}

.h2-title {
  &_small-indent {
    margin-bottom: r(32);
  }
}

h3,
.h3-title {
  margin-bottom: r(56);
  font-size: r(40);
  font-weight: 400;
  line-height: r(48);
}

h4,
.h4-title {
  margin-bottom: r(56);
  font-size: r(24);
  font-weight: 400;
  line-height: r(36);
}

.button {
  padding: r(10) r(16) r(10) r(32);
  width: fit-content;
  display: flex;
  align-items: center;
  position: relative;
  font-size: r(12);
  line-height: r(18);
  font-weight: 700;
  text-decoration: none;
  background-color: $textColor;
  border: none;
  border-radius: r(200);

  @include hover {
    &:before {
      width: calc(100% + 2px);
      height: 100%;
      left: -1px;
      border-radius: r(200);
    }

    .button__text {
      color: $textColor;
    }
  }

  &:before {
    content: "";
    display: block;
    width: r(12);
    height: r(12);
    position: absolute;
    top: 50%;
    left: r(13);
    transform: translateY(-50%);
    background-color: $primaryColor;
    border-radius: 100%;
    transition: all 300ms ease;
  }

  &__text {
    position: relative;
    z-index: 1;
    color: $primaryColor;
    transition: color 300ms ease;
  }
}

.text-center {
  text-align: center;
}
