:root {
  --color-primary: #000;
  --color-text: #fff;
  --color-grey: #b8bec8;
  --color-grey-dark: #18181a;

  --font-light: "EpilogueLight", sans-serif;
  --font-regular: "EpilogueRegular", sans-serif;
  --font-medium: "EpilogueMedium", sans-serif;
  --font-bold: "EpilogueBold", sans-serif;
}
