$primaryColor: var(--color-primary);
$textColor: var(--color-text);
$greyColor: var(--color-grey);
$greyDarkColor: var(--color-grey-dark);

$fontSizeBase: 16px;
$fontSizeLg: 1.111vw;

$lightFont: var(--font-light);
$regularFont: var(--font-regular);
$mediumFont: var(--font-medium);
