@import "../common/variable";
@import "../common/mixins";

.brands {
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: r(60);
  }

  &__item {
    height: r(104);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    opacity: 0;
    transform: translateY(100%);
  }
}
