@import "../common/variable";
@import "../common/mixins";

.hero {
  padding: r(168) 0 r(88);

  &__text {
    span {
      display: inline-block;
      transform: translateY(50%);
      opacity: 0;
    }
  }

  &__heading {
    max-width: r(1050);
  }

  &__description {
    margin-left: auto;
    padding-right: r(82);
    max-width: r(416);
    color: $greyColor;
    font-weight: 300;
  }
}
