@import "../common/variable";
@import "../common/mixins";

.services {
  margin-bottom: r(248);

  &__scroll {
    padding-left: r(288);
    display: flex;
  }

  &__item {
    flex-shrink: 0;
    margin-right: r(256);
    max-width: r(640);
    width: 100%;

    &:not(&_active) > * {
      color: $greyMediumColor;
    }

    & > * {
      transition: color 300ms ease;
    }
  }
}
