@import "../common/variable";
@import "../common/mixins";

.services {
  margin-bottom: r(248);

  &__swiper {
    padding: 0 r(256) 0 r(288);
  }

  &__item {
    max-width: r(640);
    width: 100%;

    & > * {
      transition: color 300ms ease;
    }

    &:not(.swiper-slide-active) > * {
      color: $greyMediumColor;
    }
  }
}
