@import "../common/variable";
@import "../common/mixins";

.services {
  margin-bottom: r(248);

  &__scroll {
    padding-left: r(288);
    display: flex;
  }

  &__item {
    flex-shrink: 0;
    margin-right: r(256);
    max-width: r(640);
    width: 100%;

    &:not(&_active) > * {
      color: $greyMediumColor;
    }

    & > * {
      transition: color 300ms ease;
    }
  }

  &__images-wrapper {
    margin: r(96) 0 0 auto;
    max-width: r(1152);
    width: 100%;
    height: r(440);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    opacity: 0;
    transition: opacity 300ms ease;

    &_active {
      opacity: 1;
    }
  }
}
