@import "../common/variable";
@import "../common/mixins";

.team {
  margin-bottom: 100vh;

  &__scroll {
    display: flex;
  }

  &__item {
    flex-shrink: 0;

    &:not(:last-child) {
      margin-right: r(32);
    }
  }

  &__image-wrapper {
    margin-bottom: r(12);
    max-width: r(416);
    max-height: r(480);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;

    @include hover {
      .team {
        &__image {
          opacity: 0;

          &_hover {
            opacity: 1;
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: opacity 300ms ease;

    &_hover {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
  }
}
